/Web.App.Condominio/.vs/Web.App.Condominio/v15/Server/sqlite3
/Web.App.Condominio/.vs/config
/Web.App.Condominio/Web.App.Condominio/App_Start
/Web.App.Condominio/Web.App.Condominio/bin
/Web.App.Condominio/Web.App.Condominio/obj/Debug
